<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>The Best Comics Reviewed Here</h1>
      <p>Keep up on the latest, greatest, and most exciting comics in the industry! Know what issues pack a punch or what issues
      are just plain old filler. This is The Comic Corner. </p>
      <p><%= link_to "Dare to be Awesome", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @comics.each do |comic| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag comic.photo_url, class: 'photo_url'), comic %>
      </div>
    </div>
  <% end %>
</div>
